<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ujian Praktek - Deployment</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href={{ url_for('static', filename='lib/animate/animate.min.css' ) }} rel="stylesheet">
    <link href={{ url_for('static', filename='lib/lightbox/css/lightbox.min.css' ) }} rel="stylesheet">
    <link href={{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css' ) }} rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href={{ url_for('static', filename='css/bootstrap.min.css' ) }} rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href={{ url_for('static', filename='css/style.css' ) }} rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn"
        data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="text-primary fw-bold m-0">ProMan</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
            </div>
            <img src={{ url_for('static', filename='img/orbit_logo.jpg' ) }} alt="" width="100" height="100">
            <div class="navbar-nav me-auto py-0">
                <a href="#project" class="nav-item nav-link">Projects</a>
                <a href="#team" class="nav-item nav-link">Team</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">Eunoia 4</h3>
                    <h1 class="display-3 mb-3">CV Classification</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Nurrofi Mutaqin, Krisna Naufal H, Aditya Al Assad, Riki Chandra</div>
                    <div class="d-flex align-items-center pt-5">
                        <a href="#project" class="btn btn-primary py-3 px-4 me-5">Try Application</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://youtu.be/wnFzprYPHUU" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block">Video Presentasi</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src={{ url_for('static', filename='img/baymax.png' ) }} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Video Presentasi</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="display-1 mb-0">CVC</h1>
                        </div>
                        <h3 class="lh-base mb-0">Computer Vision Classification</h3>
                    </div>
                    <p class="mb-4">Aplikasi ini dibuat khusus untuk mendeteksi sebuah objek dari gambar yang diberikan.
                        Adapun dataset yang digunakan untuk model klasifikasi gambar ini adalah CIFAR-10.
                        Pada dataset CIFAR-1, terdapat 10 objek yang dapat diklasifikasi yaitu pesawat, mobil, burung,
                        kucing,
                        rusa, anjing, katak, kuda, kapal, dan truk.
                        Untuk dapat menggunakan aplikasi ini, pengguna hanya mengunggah sebuah gambar dengan format
                        'JPG'.
                        Hasil deteksi objek akan ditampilkan setelah pengguna mengunggah gambar tersebut.
                    </p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src={{ url_for('static', filename='img/upload.jpg' ) }}
                                alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src={{ url_for('static', filename='img/button.jpg' ) }}
                                alt="">
                        </div>
                    </div>
                    <p class="mb-4">Adapun cara penggunaan aplikasi sebagai berikut :</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Upload gambar yang ingin
                        diprediksi</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>pastikan gambar sesuai dengan
                        objek yang diteliti</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Tekan Tombol prediksi gambar
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Dataset Animals</h1>
                    <p class="mb-4">Pada dataset CIFAR-1, terdapat 10 objek yang dapat di klasifikasi yaitu Kucing,
                        Anjing, Kupu-kupu, Kuda, Gajah, Laba-laba, Ayam, Sapi, Domba, dan Tupai.</p>
                    <h3 class="mb-4">Animals</h3>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Kupu-kupu</h6>
                                    <h6 class="font-weight-bold">95%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Kucing</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Anjing</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Ayam</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Sapi</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Kuda</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Gajah</h6>
                                    <h6 class="font-weight-bold">95%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Laba-laba</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Domba</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Tupai</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/sapi.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/sapi.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/kudaa.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/kudaa.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/domba.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/domba.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/laba.jpeg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/laba.jpeg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/ayam.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/ayam.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/anj.png' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/anj.png" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/tupai.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/tupai.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/kucing.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/kucing.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/gajah.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href"{{ url_for('static',
                                filename='img/gajah.jpg' ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src={{ url_for('static', filename='img/kupu.jpg' ) }} alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href={{ url_for('static',
                                filename="img/kupu.jpg" ) }} data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->


    <!-- Service Start -->
    <div class="container-fluid bg-light my-5 py-6" id="project">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Application</h1>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">

                        <!-- <form action="/submit" method="post" enctype="multipart/form-data">
                            <h3>Upload Gambar </h3>
                            <img src={{ url_for('static', filename='img/KP.jpg' ) }} width="300"></img>
                            <br>
                            <p>silahkan upload sebuah gambar</p>
                            <p><input type="file" name="my_image" id="pwd"></p>
                            </br>
                            <button type="submit" class="btn btn-primary py-1 px-3">Prediksi</button>
                        </form> -->
                        <form>
                            <h3>Upload Gambar </h3>
                            <img src={{ url_for('static', filename='img/KP.jpg' ) }} width="300"></img>
                            <br>
                            <p>silahkan upload sebuah gambar</p>
                            <p><input type="file" name="my_image" id="input_gambar"></p>
                            </br>
                            <button type="submit" class="btn btn-primary py-1 px-3"
                                id="prediksi_submit">Prediksi</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <!-- <div id="" align="center">
                            <h1>Hasil Prediksi</h1>{% if prediction %}
                            <img src="{{img_path}}" height="400px" width="400px">
                            <h2> Your Prediction : <i> {{prediction}} </i></h2>

                            {% endif %} -->
                        <!-- Hasil Prediksi -->
                        <!-- </div> -->
                        <div id="hasil_prediksi">

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Team Start -->
    <div class="container-xxl py-6 pb-5" id="team">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Team Members</h1>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src={{ url_for('static', filename='img/rofi.jpeg' ) }} alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Nurrofi Mutaqin</h5>
                                <span>STMIK INDO DAYA SUVANA</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src={{ url_for('static', filename='img/riki.jpeg' ) }} alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Riki Chandra</h5>
                                <span>Univ. Multi Data Palembang</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src={{ url_for('static', filename='img/kris.jpeg' ) }} alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Krisna Naufal H</h5>
                                <span>STMIK INDO DAYA SUVANA</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src={{ url_for('static', filename='img/adit.jpeg' ) }} alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Aditya Al assad</h5>
                                <span>Univ. Multi Data Palembang</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->








    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; EUNOIA-4.
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src={{ url_for('static', filename="lib/wow/wow.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/easing/easing.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/waypoints/waypoints.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/typed/typed.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/counterup/counterup.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/owlcarousel/owl.carousel.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/isotope/isotope.pkgd.min.js" ) }}></script>
    <script src={{ url_for('static', filename="lib/lightbox/js/lightbox.min.js" ) }}></script>

    <!-- Template Javascript -->
    <script src={{ url_for('static', filename="js/main.js" ) }}></script>
    <script src={{ url_for('static', filename='/js/client_side.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js' ) }}></script>
</body>

</html>